/* Обнуление */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/* Иконочный шрифт */
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?88vrnt');
  src:  url('../fonts/icomoon.eot?88vrnt#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?88vrnt') format('truetype'),
    url('../fonts/icomoon.woff?88vrnt') format('woff'),
    url('../fonts/icomoon.svg?88vrnt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-smile:before {
  content: "\e9e1";
}

/* /Иконочный шрифт */


.comment {
  border-radius: 22px;
  max-width: 600px;
  overflow: hidden;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.item-comment {
  display: flex;
  flex-direction: column;
  background-color: #33333313;
  padding: 20px;
}
.item-comment__top {
  display: flex;
  border-bottom: 1px solid #3333334d;
}
.item-comment__info {
  flex: 0 1 80%;
  display: flex;
  flex-wrap: wrap;

}
.item-comment__photo {
  flex: 0 1 90px;
  border-radius: 50%;
  overflow: hidden;
  height: 90px;
}
.item-comment__photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.item-comment__name {
  flex: 0 1 auto;
  margin: 0 0 0 30px;
  padding: 15px 0 0 0;
}
.item-comment__name span{
  color: #33333373;
}
.item-comment__date {
  margin: 0 0 0 auto;
  flex: 0 1 auto;
  max-width: 200px;
  padding: 15px 0 0 0;
}
.item-comment__text {
  padding: 20px 90px 20px 0;
  flex: 1 1 auto;
  line-height: 18px;
}
.item-comment__day {
  flex: 0 1 15%;
  background-color: rgba(49, 186, 250, 0.787);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
  font-size: 30px;
  margin: 0 0 20px 15px;
}
.item-comment__day span {
  font-size: 30px;
  font-weight: 600;
}

.health {
  border-bottom: 1px solid #3333334d;
  padding: 20px 0;
  display: flex;
}
.health__item {
  flex: 0 1 auto;
  padding: 20px;
  background-color: #0059ffce;
  border-radius: 30px;
  color: #ffffff;
  font-weight: 600;
  margin: 0 20px 0 0;
  cursor: pointer;
  transition: all 0.3s ease 0s;
} 
.health__item:hover {
  background-color: #0059ff9a;
  transform: translate(0, -3px)
}
.health__item img {
  width: 100%;
} 
.smiles {
  padding: 15px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.smiles__item {
  flex: 0 1 35px;
  padding: 3px;
  border: 1px solid #3333334d;
  background-color: #fff;
  border-radius: 5px;
  margin: 0 10px 0 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.smiles__item:hover {
  background-color: rgba(56, 232, 255, 0.137);
  border-color: rgba(23, 117, 129, 0.425);
}

.smiles__item img {
  width: 100%;
}
.smiles__item-btn {
  margin: 0 0 0 20px;
}
.smiles__item-btn:hover::before {}

.smiles__item-btn::before {
  font-size: 28px;
  padding: 3px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.smiles__item-btn:hover::before {
  background-color: rgba(0, 38, 255, 0.835);
  color: #ffffff;
}
.icon-smile {}